/* MAIN DESIGN */ 
/* OUR FONTS: 
    font-family: 'Comic Neue', cursive;
    font-family: 'Roboto', sans-serif;
    */
/* Selector css */
html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

html{
  background-color: #68C2C4;
  text-align: center;
}
h1{
  color: #F3EAC2;
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Comic Neue', cursive;
}

/** MAIN PAGE **/ 
.mainPage .Logo{
  padding: 0.5vw 2em;
  width: 25vw;
  margin: 5% auto 3%;
  font-size: 2vw;
  z-index: 1;
}

.mainPage .infoBox{
  background-color: rgba(108, 143, 143, 0.589);
  font-family: 'Comic Neue', cursive;
  font-size: 2vw;
  color: #F3EAC2;
  padding: 1%;
  border-radius: 20px;
  width: 70vw;  
  margin: 3vh auto 10vh;
  text-shadow: 2px 2px #252525ab;
}

/** Images on the MainPage (cards), placement **/
.mainPage .img1{
  position: absolute;
  z-index: -1;
  width: 25vw;
  bottom: 0;
  left: 0;
}

.mainPage .img2 {
  position: absolute;
  z-index: -1;
  width: 25vw;
  top: 0;
  right: 0;
}

/** Character CSS **/ 

.mainPage .CharNormal{
    position: relative;
    left: 40vw;
    top: -12vw;
    z-index: -1;
    height: 30vw;
}

/* On category page */
.CharThinking{
    position: relative;
    right: 5%;
    height: 13vw;
}

/* On ChosenCardsPage and MainPage */
.CharNormal{ 
  position: relative;
  height: 14vw;
  top: -590px;
  left: 33.5%;
}

/* On animation page */ 
.CharHappy{
  position: relative;
  height: 13vw;
  top: -45vw;
  left: 35%;  
}

/* Placement of the character on the different screen sizes */

@media screen and (min-width: 1101px) {
  .ChosenCardsPage .CharNormal{
    top: -590px;
  } 

  .AnimationPage .CharHappy{
    top: -530px;
  }

  .CharThinking {
    top: 39px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .ChosenCardsPage .CharNormal{
    top: -530px;
  } 

  .AnimationPage .CharHappy{
    top: -520px;
  }

  .CharThinking {
    top: 39px;
  }
}

/* CONTINUED: Placement of the character */
@media screen and (max-width: 999px) {
  .ChosenCardsPage .CharNormal {
    top: -46.5vw;
    left: 33%;
  } 

  .AnimationPage .CharHappy {
    top: -510px;
  }

  .CharThinking {
    top: 47px;
  }

}


@media screen and (max-width: 900px) {
  .ChosenCardsPage .CharNormal {
    top: -47vw;
    left: 33%;
  }

  .AnimationPage .CharHappy {
    top: -500px;
  }

  .CharThinking {
    top: 50px;
  }

}

@media screen and (max-width: 850px) {
  .ChosenCardsPage .CharNormal {
    top: -47.5vw;
    left: 33%;
  }

  .AnimationPage .CharHappy {
    top: -490px;
  } 

  .CharThinking {
    top: 53px;
  }

}  

@media screen and (max-width: 800px) {
  .ChosenCardsPage .CharNormal {
    top: -48vw;
    left: 33%;
  }

  .AnimationPage .CharHappy {
    top: -480px;
  } 

  .CharThinking {
    top: 53px;
  }

}  

/* Removes character when screen is to narrow, and enabling the scrolling functionality for screens that are narrow */
@media screen and (max-width: 710px) {
  .mainPage .CharNormal {
    display: none;
  }

  .ChosenCardsPage .CharNormal {
    display: none;
  }

  .AnimationPage .CharHappy {
    display: none;
  }

  .CharThinking {
    display: none;
  }

  body {
    overflow: auto;
    overflow-x: hidden; /* Avoiding horizontal scrollbars */
    *overflow-x: hidden; /* IE-support */
  }
}


/* Makes sure that the character is not visible on mobile */
@media screen and (max-width: 850px) and (max-height: 400px) {
  .mainPage .CharNormal {
    display: none;
  }

  .ChosenCardsPage .CharNormal {
    display: none;
  }

  .AnimationPage .CharHappy {
    display: none;
  } 

}


/*PRE DEFINDED DESIGN KAN SLETTES? */

.App {
  text-align: center;
  font-family: 'Comic Neue', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}
