/* MAIN DESIGN */ 
/* OUR FONTS: 
    font-family: 'Comic Neue', cursive;
    font-family: 'Roboto', sans-serif;
    */
/*Selector css*/
html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

html{
  background-color: #68C2C4;
  text-align: center;
}
h1{
  color: #F3EAC2;
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Comic Neue', cursive;
}

/* MAIN PAGE */ 
.mainPage .Logo{
  padding: 0.5vw 2em;
  width: 25vw;
  margin: 5% auto 3%;
  font-size: 2vw;
  z-index: 1;
}

.mainPage .infoBox{
  background-color: rgba(108, 143, 143, 0.589);
  font-family: 'Comic Neue', cursive;
  font-size: 2vw;
  color: #F3EAC2;
  padding: 1%;
  border-radius: 20px;
  width: 70vw;  
  margin: 3vh auto 10vh;
  text-shadow: 2px 2px #252525ab;
}

/** Design img on first page **/
.mainPage .img1{
  position: absolute;
  z-index: -1;
  width: 25vw;
  bottom: 0;
  left: 0;
}

.mainPage .img2 {
  position: absolute;
  z-index: -1;
  width: 25vw;
  top: 0;
  right: 0;
}

/* Character CSS*/ 

svg {
  height: 100%;
}

.mainPage .CharNormal{
  position: absolute;
  left: 60vw;
  top:50vh;
  height: 56vh;
  /*transform: scale(2.7);*/
}

/* on category page*/
.CharThinking{
    position: relative;
    left: 38vw;
    bottom: 90vh;
    height: 17vh;
    margin: 6.5vh 4vw;
}

.ChosenCardsPage .CharNormal{
  position: absolute;
  height: 15vw;
  top: -6%;
  right: 5%;
  margin: 6.5vh 4vw;
}

.AnimationPage .CharHappy{
  position: absolute;
  height: 13vw;
  top: -5.5%;
  right: 5%;
  margin: 6.5vh 4vw;
  
}

@media screen and (max-width: 850px){
  .ChosenCardsPage .CharNormal{
    top: -3%;
  }

  .AnimationPage .CharHappy{
    top: -3.5%;
    right: 4%;
  }
}


/*PRE DEFINDED DESIGN KAN SLETTES? */

.App {
  text-align: center;
  font-family: 'Comic Neue', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

@media screen and (max-width:850px){
  .img1, .img2{
    display: none;
  }
}
