.card{
    width:15%;
    margin: 3%;
    border-radius: 5%;
}

.card:hover, .chosenTrigger:hover, .chosenThing:hover, .chosenFeedback:hover, .noImgChosen:hover {
    box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
            0px 5px 22px 4px rgba(0, 0, 0, 0.12),
            0px 7px 8px -4px rgba(0, 0, 0, 0.2);
}
.card-active{
    border: 4px blue solid;
}


/* Will move this to a separate CCS file */
.chosenCardsGrid {
    display: grid;
    /* grid-gap: 2%; */
    grid-template-columns: auto auto auto auto;
    width: 100%;
    margin-top: 2vh;
}

.chosenCardsGrid2 {
    grid-area: 1 / 2 / 1 / 4;
    display: grid;
    grid-template-columns: auto auto auto; /* remove one "auto" if we decide to go with 4 cards instad of 3 */
}

.wrapperCardNotChosen {
    height: 22.7vw; /* Must be smaller due to the border */
    position: relative;
}

.noImgChosen {
    border: #E53D2F; /* color as in the Figma protoype */
    border-style: solid;
    border-radius: 5%;
    border-width: 0.9vw;
}

.chosenCardContainer {
    height: 24.5vw;
}

.chosenTrigger, .chosenThing, .chosenFeedback, .noImgChosen {
    height: 100%;
    border-radius: 5%;
}

#textNoCardChosen1, #textNoCardChosen2, #textNoCardChosen3 {
    position: absolute;
    top: 15%;
    font-size: 3vw;
    transition-timing-function: ease-out;
}

#textNoCardChosen1 { left: 31%; }

#textNoCardChosen2 { left: 33%; }

#textNoCardChosen3{ left: 27% }

@media only screen and (max-width: 700px) {
    #textNoCardChosen1 { left: 29%; } 
    #textNoCardChosen2 { left: 31%; }
    #textNoCardChosen3 { left: 25%; }
}

@media only screen and (max-width: 630px) {
    #textNoCardChosen1 { left: 26%; } 
    #textNoCardChosen2 { left: 28%; }
    #textNoCardChosen3 { left: 22%; }
}

@media only screen and (max-width: 550px) {
    #textNoCardChosen1 { left: 23%; } 
    #textNoCardChosen2 { left: 25%; }
    #textNoCardChosen3 { left: 17%; }
}
