.card{
    width:15%;
    margin: 3%;
}

.card:hover, .chosenTrigger:hover, .chosenThing:hover, .chosenFeedback:hover, .cardNotChosenText:hover {
    box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
            0px 5px 22px 4px rgba(0, 0, 0, 0.12),
            0px 7px 8px -4px rgba(0, 0, 0, 0.2);
}
.card-active{
    border: 4px blue solid;
}


/* Will move this to a separate CCS file */
.chosenCardsGrid {
    display: grid;
    /* grid-gap: 2%; */
    grid-template-columns: auto auto auto auto;
    width: 100%;
    margin-top: 2vh;
}

.chosenCardsGrid2 {
    grid-area: 1 / 2 / 1 / 4;
    display: grid;
    grid-template-columns: auto auto auto; /* remove one "auto" if we decide to go with 4 cards instad of 3 */
}


.triggerDiv, .thingDiv, .feedbackDiv, .cardNotChosenDiv{
    
}

.cardNotChosenText {
    height: 19.5vw;
    border: #E53D2F; /* color as in the Figma protoype */
    border-style: solid;
    border-width: 1vh;
    margin: 10px;
}

.chosenTrigger, .chosenThing, .chosenFeedback {
    height: 100%;
    margin: 10px;
}

.chosenTrigger{
}

.chosenThing {
 
}

.chosenFeedback{

}