/* CSS-styling for the components/page of AnimationPage.jsx - feel free to incorporate this in a common CSS-file */

/* The styling below belongs to the grid-outline of AnimationPage.jsx */

.gridAnimationsPage {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    position: relative;
    padding-top: 0.75vh;
    transition: ease-out 0.1ms;
    margin-top: 1.2vw;
}

.gridAnimationCards {
    grid-area: 2 / 1 / span 1 / span 1;
    margin: 0 5px 5px 5px;
    display: grid;
    grid-template-columns: auto auto auto; /* remove one "auto" if we decide to go with 4 cards instad of 3 */
    height: 13vw;
}

.gridAnimationAnimation {
    grid-area: 2 / 2 / span 3 / span 3;
    background-color: #FBF4D7;
    /*border-radius: 30px;*/
    border-radius: 15px;
    height: 70vh;
    /* padding: 5vh 0; */
    padding: 3px;
    padding-bottom: 2%;
    position: relative;
    margin-right: 3%;
}

.gridAnimationSaving {
    grid-area: 3 / 1 / span 6 / span 1;
    /* margin-right: 1.5vw; */
    margin-top: 1vw;
}

/* Styling of the cards */
.card1AnimationsPage, 
.card2AnimationsPage, 
.card3AnimationsPage {
    margin-top: 3vw;
    margin: 0;
}

.triggerAnimationsPage, 
.thingAnimationsPage, 
.feedbackAnimationsPage {
    height: 14vw;
    min-height: 70px;
    border-radius: 5px;
}

.triggerAnimationsPage,
.thingAnimationsPage,
.feedbackAnimationsPage {
  box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12), 0px 7px 8px -4px rgba(0, 0, 0, 0.2);
}

/* Styling for saving text file, in FormFieldAnimationPage.jsx */

.textAreaAnimationPage {
    position: relative;
    bottom: 0;
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

#textBoxAnimationPage {
    height: 6vh;
    min-height: 30px;
    position: relative;
    font-family: sans-serif;
    resize: none;
    width: 70%;
    margin: 3px -1px;
    border-radius: 5px;
    background-image: url('../images/edit-pen.png'); /* icon from: https://uxwing.com/edit-pen-icon/ (free to use and no attributions required) */ 
    background-position: 10px 10px; /* placement of the pen-icon in the textarea */ 
    background-size: 10px;
    padding-left: 25px;
    padding-top: 7px;
    background-repeat: no-repeat;
    font-family: 'Comic Neue', sans-serif;
}

.textAreaAnimationPage textarea { /* border color for textarea */
    border: 0.5vh solid  #F08A00;
}

.textAreaAnimationPage #textBoxAnimationPage:focus { /* shadow for border when user is actively using textarea */
    border: 1% solid #F08A00;
    box-shadow: 0 0 0 0.2rem rgba(180, 102, 0, 0.25);
}

.textButtonAnimationPage {
    width: 25%;
    color: #F3EAC2;
    margin-right: 2vw; 
}

/* Styling for audio recording*/

.AudioAreaAnimationPage {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

.AudioAreaAnimationPage .Audio audio{
    width: 99%;
}

.AudioAreaAnimationPage div Button, .textButtonAnimationPage{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    width: 10vw;
    height: 6vh;
    margin: 1vw;
    font-size: 1.5vw;
    border-radius: 1.5vw;
    color: #F3EAC2;
} 

svg {
    height: 100%;
}

.gridAnimationAnimation div{
    height: 100%;
    margin: 5px;
} 

/* Styling below prevents animationpage from going into TopContainer, also including elements from ChosenCardsPage.jsx (.chosenCardsGrid) */
@media only screen and (max-width: 1000px) {
    .gridAnimationsPage {
        margin-top: 1.2vw;
    }

    svg {
        height: 95%;
    }


  .triggerAnimationsPage,
  .thingAnimationsPage,
  .feedbackAnimationsPage {
    height: 15vw;
  }
}


@media only screen and (max-width: 900px) {
    svg {
        height: 90%;
    }

}


@media only screen and (max-width: 800px) {
    svg {
        height: 85%;
    }
 
}

@media only screen and (max-width: 700px) {
    svg {
        height: 80%;
    }

    .gridAnimationsPage {
        padding-top: 2vh;
    }


}

@media only screen and (max-width: 600px) {
    svg {
        height: 75%;
    }
}
