/* MAIN DESIGN */
/* OUR FONTS: 
    font-family: 'Comic Neue', cursive;
    font-family: 'Roboto', sans-serif;
    */
/** Selector css */
html, body {
  margin: 0; 
  height: 100%; 
  overflow: auto;
  overflow-x: hidden; /* Avoiding horizontal scrollbars */
  *overflow-x: hidden; /* IE-support */
}

html{
  background-color: #68C2C4;
  text-align: center;
}
h1 {
  color: #f3eac2;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Comic Neue", cursive;
}

/** MAIN PAGE **/ 
.mainPage .Logo{
  padding: 0.5vw 2em;
  width: 25vw;
  margin: 5% auto 3%;
  font-size: 2vw;
  z-index: 1;
}

.mainPage .infoBox {
  background-color: rgba(108, 143, 143, 0.589);
  font-family: 'Comic Neue', cursive;
  font-size: 2vw;
  color: #F3EAC2;
  padding: 1%;
  border-radius: 20px;
  width: 70vw;  
  margin: 3vh auto 10vh;
  text-shadow: 2px 2px #252525ab;
}

/** Images on the MainPage (cards), placement **/
.mainPage .img1 {
  position: absolute;
  z-index: -1;
  width: 25vw;
  bottom: 0;
  left: 0;
}


.mainPage .img2 {
  position: absolute;
  z-index: -1;
  width: 25vw;
  top: 0;
  right: 0;
}


/** Character CSS **/ 
/* MainPage */ 
#charNormalMainWrapper {
  height: 0;
  width: 0;
} 

.svgCharacterNormalMainPage {
  position: relative;
  width: 33vw;
  top: -14vw;
  left: 65vw;
}  

/* On category page */
#charThinkingWrapper {
  height: 0;
  height: 0;
}

.CharThinking{
  position: relative;
  height: 13vw;
  top: -7vw;
  left: 38vw;
}

/* On ChosenCardsPage */
#charNormalWrapper {
  height: 0;
  width: 0;
} 

.CharNormal{ 
  position: relative;
  height: 13vw;
  left: 75vw;
  top: -10vw;
}

/* On animation page */
#charHappyWrapper {
  height: 0;
  width: 0;
}

.CharHappy{
  position: relative;
  height: 13vw;
  top: -10vw;
  left: 80vw;
}

/* Placement of the character on the different screen sizes */

@media screen and (max-width: 1000px) {
  .CharNormal{ 
    padding-top: 0.95vw;
  }

  .AnimationPage .CharHappy {
    padding-top: 1.75vw;
  }

  .CharThinking {
    padding-top: 0.5vw;
  }
}

@media screen and (max-width: 900px) {
  .CharNormal{ 
    padding-top: 1.15vw;
  }

  .AnimationPage .CharHappy {
    padding-top: 2vw;
  }

  .CharThinking {
    padding-top: 1vw;
  }
}

@media screen and (max-width: 800px) {
  .CharNormal{ 
    padding-top: 1.75vw;
  }

  .AnimationPage .CharHappy {
    padding-top: 2.5vw;
  }

  .CharThinking {
    padding-top: 1.5vw;
  }
}

/* Removes character when screen is to narrow, and enabling the scrolling functionality for screens that are narrow or short */
@media screen and (max-width: 710px) {
  .mainPage .CharNormal {
    display: none;
  }

  .ChosenCardsPage .CharNormal {
    display: none;
  }

  .AnimationPage .CharHappy {
    display: none;
  }

  .CharThinking {
    display: none;
  }

  .svgCharacterNormalMainPage {
    display: none;
  }
}

/* Makes sure that the character is not visible on most mobile devices (will still be visible on tablets) - too many elements*/
@media screen and (max-width: 850px) and (max-height: 400px) {
  .mainPage .CharNormal {
    display: none;
  }

  .ChosenCardsPage .CharNormal {
    display: none;
  }

  .AnimationPage .CharHappy {
    display: none;
  }

  .svgCharacterNormalMainPage {
    display: none;
  }

}


/*PRE DEFINDED DESIGN KAN SLETTES? */

.App {
  text-align: center;
  font-family: 'Comic Neue', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}
