.card{
    width: 13vw;
    height: auto;
    margin: 4vw 2vw;
    border-radius: 5px;
}

.card:hover {
  box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12), 0px 7px 8px -4px rgba(0, 0, 0, 0.2);
}

.card-active{
  transform: scale(1.25);
  box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
            0px 5px 22px 4px rgba(0, 0, 0, 0.12),
            0px 7px 8px -4px rgba(0, 0, 0, 0.2);
}
  
/* STYLES for the category pages */
.chooseCardsButton {
    position: relative;
}

/** STYLES FOR ChosenCardsPage.jsx **/

/* Styles for the grids and wrappers */
.chosenCardsGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    margin-top: 0.45vw;
    padding-top: 0.25vw;
}

.chosenCardsGrid2 {
    grid-area: 1 / 2 / 1 / 4;
    display: grid;
    grid-template-columns: auto auto auto; /* remove one "auto" if we decide to go with 4 cards instad of 3 */
    border-radius: 15px;
    padding-top: 3.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3.5vw;
    background-color: #FBF4D7;
}

.wrapperCardNotChosen {
  height: 18.7vw; /* Must be 1.3vw smaller than chosenCardContainer smaller due to the border */
  position: relative;
  border: 5px;
  /* padding-bottom: 7%; must have slightly (about 4%) bigger padding than images chosen because of the border */
}

.chosenCardContainer,
#firstWrapperCardNotChosen {
  height: 20vw;
}

/** Styles for the cards **/

.chosenTrigger,
.chosenThings,
.chosenFeedback,
.noImgChosen {
  box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12), 0px 7px 8px -4px rgba(0, 0, 0, 0.2);
}

.chosenTrigger:hover,
.chosenThings:hover,
.chosenFeedback:hover {
  opacity: 0.8;
}

.chosenTrigger,
.chosenThings,
.chosenFeedback,
.noImgChosen {
  height: 100%;
  border-radius: 5px; /* makes the edges of the cards/not picked cards rounded */
}

/** Styles when no card is picked **/
#noCardChosenTrigger,
#noCardChosenThings,
#noCardChosenFeedback {
  position: absolute;
  top: 15%;
  font-size: 2vw;
  transition-timing-function: ease-out;
  font-family: 'Comic Neue', sans-serif;
}

#noCardChosenTrigger {
  left: 36%;
}

#noCardChosenThings {
  left: 37%;
}

#noCardChosenFeedback {
  left: 32%;
}


#buttonChosenCardsPage {
  position: relative;
  left: 25%;
  width: 50%;
  top: -85px;
}

/** Responsive design for buttons and cards **/

/* Enlargens cards on Category page and ChosenCardspage*/
@media only screen and (max-width: 700px) {

    #buttonChosenCardsPage {
        top: -65%;
    }

    .card {
        width: 17vw;
    }

    .cardContainer {
      margin-top: 10vw;
    }

    .wrapperCardNotChosen {
        height: 23.7vw; /* Must be 1.3vw smaller than chosenCardContainer smaller due to the border */
    }
    
    .chosenCardContainer, #firstWrapperCardNotChosen {
        height: 24vw;
    }

    .chosenCardsGrid {
      padding-top: 0.5vw;
    }
}

@media only screen and (max-width: 600px) {
  #buttonChosenCardsPage {
    top: -60%;
  }
}

@media only screen and (max-width: 500px) {
  #buttonChosenCardsPage {
    top: -55%;
  }
}
