.card{
    width: 10rem;
    height: auto;
    margin: 5% 2%;
}

.card:hover {
    box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
            0px 5px 22px 4px rgba(0, 0, 0, 0.12),
            0px 7px 8px -4px rgba(0, 0, 0, 0.2);
}
.card-active{
    transform: scale(1.3);
    box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
            0px 5px 22px 4px rgba(0, 0, 0, 0.12),
            0px 7px 8px -4px rgba(0, 0, 0, 0.2);
}

/* STYLES FOR ChosenCardsPage.jsx */

/** Styles for the grids and wrappers **/
.chosenCardsGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    margin-top: 2vh;
}

.chosenCardsGrid2 {
    grid-area: 1 / 2 / 1 / 4;
    display: grid;
    grid-template-columns: auto auto auto; /* remove one "auto" if we decide to go with 4 cards instad of 3 */
    border-radius: 20px; /* same border radius as other elements */
    padding: 3%;
    background-color: #FBF4D7;
}

.wrapperCardNotChosen {
    height: 18.7vw; /* Must be 1.3vw smaller than chosenCardContainer smaller due to the border */
    position: relative;
    /* padding-bottom: 7%; must have slightly (about 4%) bigger padding than images chosen because of the border */
}

.chosenCardContainer, #firstWrapperCardNotChosen {
    height: 20vw;
}

/** Styles for the cards **/
.chosenTrigger, .chosenThing, .chosenFeedback, .noImgChosen {
    box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
            0px 5px 22px 4px rgba(0, 0, 0, 0.12),
            0px 7px 8px -4px rgba(0, 0, 0, 0.2);
}

.chosenTrigger:hover, .chosenThing:hover, .chosenFeedback:hover {
    opacity: 0.8;
}


.chosenTrigger, .chosenThing, .chosenFeedback, .noImgChosen {
    height: 100%;
}

/** Styles when no card is picked **/
#textNoCardChosen1, #textNoCardChosen2, #textNoCardChosen3 {
    position: absolute;
    top: 15%;
    font-size: 2vw;
    transition-timing-function: ease-out;
}

#textNoCardChosen1 { left: 36%; }

#textNoCardChosen2 { left: 39%; }

#textNoCardChosen3{ left: 32% }

#buttonChosenCardsPage {
    position: relative;
    left: 25%;
    width: 50%;
    top: -85px;
}

/** Responsive design for buttons **/

@media only screen and (max-width: 700px) {
    #buttonChosenCardsPage {
        top: -65%;
    }
}

@media only screen and (max-width: 600px) {
    #buttonChosenCardsPage {
        top: -60%;
    }
}

@media only screen and (max-width: 500px) {
    #buttonChosenCardsPage {
        top: -55%;
    }
}
