.pageNotFoundTitle{
    background-color : #E53D2FEE;
    color: #F3EAC2;
    border-radius: 30px;
    border: 0.25px solid #72140C;
    box-shadow: 1px 1px 3px #000000AA;
    font-size: 2rem;
    border-radius: 20px;
    text-shadow: 2px 2px #252525ab;
    margin: 2.5rem 15rem 3rem;
    padding: 1rem;
    z-index: 1;
}

.middleContainer{
    background-color: rgba(108, 143, 143, 0.589);
    color: #F3EAC2;
    font-size: 2rem;
    border-radius: 20px;
    text-shadow: 2px 2px #252525ab;
    margin: 2.5rem 15rem 3rem;
    padding: 1rem;
}


.cardsButton{
    display: block;
    margin-top: 7%;
    margin-bottom: 3%;
}

/* Imgs */
.image{
    width: 6rem;
    position: absolute;
    box-shadow: 10px 10px 5px rgba(108, 143, 143, 0.5);
    z-index: -1;
}

/*** left side ***/
.bikeCard{
    right: 80%;
    top: -2%;
    transform: rotate(15deg);
}

.colorChangeCard{
    right: 90%;
    top: 20%;
    transform: rotate(-15deg);
}

.motionCard{
    right: 80%;
    top: 42%;
    transform: rotate(15deg);
    z-index: -1;
}

.dropCard{
    right: 90%;
    top: 64%;
    transform: rotate(-15deg);
}

.penCard{
    right: 80%;
    top: 86%;
    transform: rotate(15deg);
}

/*** right side ***/
.colorChangeCard2{
    left: 90%;
    top: -14%;
    transform: rotate(15deg);
}

.temperatureCard{
    left: 80%;
    top: 8%;
    transform: rotate(-15deg);
    z-index: -1;
}

.umbrellaCard{
    left: 90%;
    top: 30%;
    transform: rotate(15deg);
}

.vibrateCard{
    left: 80%;
    top: 52%;
    transform: rotate(-15deg);
}

.motionCard2{
    left: 90%;
    top: 74%;
    transform: rotate(15deg);
}

.dropCard2{
    left: 80%;
    top: 95%;
    transform: rotate(-15deg);
}

/* Responsiveness for 404-page */

@media only screen and (max-width: 800px) {
    .pageNotFoundTitle{
        font-size: 1rem;
        min-width: 100px;
        margin: 2rem 12rem 2rem;
    }

    .middleContainer {
        font-size: 1rem;
        min-width: 100px;
        margin: 2rem 12rem 2rem;
    }

    .wider {
        width: 13rem;
        font-size: 1rem;
    }
  }

  @media only screen and (max-width: 600px) {

    .wider {
        margin-left: 3.5rem;
    }
  }
