/* CSS-styling for the components/page of AnimationPage.jsx - feel free to incorporate this in a common CSS-file */

/* The styling below belongs to the grid-outline of AnimationsPreview.jsx */

.gridAnimationsPage {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    height: 5vw;
}

.gridAnimationItem3 {
    grid-area: 2 / 1 / span 2 / span 2;
}

.gridAnimationItem4 {
    grid-area: 2 / 3 / span 2 / span 2;
    background-color: #FBF4D7;
    border-radius: 30px;
    height: 600px;
    margin: 10px;
}

.gridAnimationItem5 {
    grid-area: 3 / 1 / 3 / 3;
}

