/* MAIN DESIGN */ 
/* OUR FONTS: 
    font-family: 'Comic Neue', cursive;
    font-family: 'Roboto', sans-serif;
    */
/*Selector css*/
html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

html{
  background-color: #68C2C4;
}
h1{
  color: #F3EAC2;
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Comic Neue', cursive;
}

/*
.Button {
  /*MÅ FIKSES NÅR COMPONENT STYLINGEN ER OPPE OG GÅR*/
  /*background-color: #F08A00;
  border: solid 5px #C67200;  
  border-radius: 20px;
  /* width: 25%; */
  /*margin: 10% auto;
  font-size: 1.5rem;
  padding: auto 5%;
  width: 15%;
  
}*/

/* MAIN PAGE */ 
.mainPage .Logo{
  padding: 1px 2em;
  width: 35%;
  margin: 5% auto 3%;
  font-size: 2.5rem;
}

.mainPage .infoBox{
  background-color: rgba(108, 143, 143, 0.589);
  font-family: 'Comic Neue', cursive;
  font-size: 1.5rem;
  color: #F3EAC2;
  padding: 1%;
  border-radius: 20px;
  width: 70%;  
  margin: 3% auto;
  text-shadow: 2px 2px #252525ab;
}

/*** IMG ON MAIN PAGE ***/ 
.mainPage .motionCard {
  width: 20%;
  transform: rotate(15deg);
  position: absolute;
  z-index: -1;
  right: 90%;
  top: 50%;
}

.mainPage .colorChangeCard{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 1;
  right: 80%;
  top: 62%;
}

.mainPage .bikeCard{
  width: 20%;
  transform: rotate(35deg);
  position: absolute;
  z-index: +1;
  right: 75%;
  top: 74%;
}
/* **TOP** */ 
.mainPage .dropCardTop{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  z-index: +1;
  left: 92%;
  bottom: 70%;
}

.mainPage .colorChangeCardTop{
  width: 20%;
  transform: rotate(30deg);
  position: absolute;
  z-index: 1;
  left: 84%;
  bottom: 70%;
}

.mainPage .motionCardTop{
  width: 20%;
  transform: rotate(35deg);
  position: absolute;
  z-index: -1;
  left: 77%;
  bottom: 80%;
}


/*PRE DEFINDED DESIGN KAN SLETTES? */

.App {
  text-align: center;
  font-family: 'Comic Neue', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
