/* MIDDLE CONTAINER*/
/* 
    Må se hvordan jeg skal løse de ulike middle componentene
*/

.CardContainer{
    background-color:#FBF4D7;
    color: black;
    margin: 1% 3%;
    height:32rem;
}

.CardContainerTitle {
    transform: rotate(-90deg);
    background-color: #FBF4D7;
    /*color: #68C2C4;*/
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1ex;
    position: fixed;
    font-size: 2rem;
    padding: 0.5% 1.5%;
    z-index: 1;
    left: -3%;
    bottom: 50%;
}
