/* MÅ FIKSES NÅR JEG HAR TID */ 
Logo {
    width: 22px;
    position: fixed;
    right: 75%;
  }
  
.infoBox{
    background-color: rgba(108, 143, 143, 0.589);
    font-family: 'Comic Neue', cursive;
    color: #F3EAC2;
    padding: 1%;
    border-radius: 20px;
    text-shadow: 2px 2px #252525ab;
    width: 50%;
    /* position: relative;
    left: 25%;
    top: 25%; */
    width: "70%";
    position: "fixed";
    left: "25%";
    bottom: "88%";
  }
  